<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
  <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100" src="img/hewan/kambing-1.jpg" alt="Image" />
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-lg-8 text-start">
                <p class="fs-4 text-white">Berkah Kurban</p>
                <h1 class="display-1 text-white mb-5 animated slideInRight">
                  Daging Berkualitas, Menyebarkan Kebaikan Tanpa Batas
                </h1>
                <!-- <a
                  href=""
                  class="btn btn-secondary rounded-pill py-3 px-5 animated slideInRight"
                  >Selengkapnya</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="img/hewan/sapi.jpg" alt="Image" />
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-lg-8 text-end">
                <p class="fs-4 text-white">Tabungan Kurban</p>
                <h1 class="display-1 text-white mb-5 animated slideInRight">
                  Persiapan Mudah, Berbagi Berkah dengan Lebih Bijak
                </h1>
                <!-- <a
                  href=""
                  class="btn btn-secondary rounded-pill py-3 px-5 animated slideInLeft"
                  >Selengkapnya</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-end">
      <div class="col-lg-6">
        <div class="row g-2">
          <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
            <div class="about-experience bg-secondary rounded">
              <h1 class="display-1 mb-0">0</h1>
              <small class="fs-5 fw-bold">Tahun Pengalaman</small>
            </div>
          </div>
          <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
            <img class="img-fluid rounded" src="img/hewan/sapi-kandang.jpg" />
          </div>
          <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
            <img class="img-fluid rounded" src="img/hewan/domba-tiga.jpg" />
          </div>
          <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
            <img class="img-fluid rounded" src="img/hewan/domba-garut.jpg" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <p class="section-title bg-white text-start text-primary pe-3">
          Tentang Kami
        </p>
        <h1 class="mb-4">Kenali Peternakan dan Tim Kami</h1>
        <p class="mb-4">
          Kami adalah tim yang berdedikasi untuk memberikan pengalaman kurban
          yang berkualitas, menyebarkan kebaikan, dan menciptakan dampak positif
          bagi masyarakat, menjadikan momen kurban menjadi momen yang bermakna
        </p>
        <div class="row g-5 pt-2 mb-5">
          <div class="col-sm-6">
            <img class="img-fluid mb-4" src="img/service.png" alt="" />
            <h5 class="mb-3">Komitmen pada Kualitas</h5>
            <span
              >Menyediakan kurban terbaik dengan standar kualitas yang
              tinggi</span
            >
          </div>
          <div class="col-sm-6">
            <img class="img-fluid mb-4" src="img/product.png" alt="" />
            <h5 class="mb-3">Berbagi Berkah</h5>
            <span
              >Berkomitmen untuk berbagi berkah dengan masyarakat yang
              membutuhkan</span
            >
          </div>
        </div>
        <!-- <a class="btn btn-secondary rounded-pill py-3 px-5" href=""
          >Selengkapnya</a
        > -->
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Features Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class="section-title bg-white text-start text-primary pe-3">
          Mengapa harus pilih kami?
        </p>
        <h1 class="mb-4">Orang-orang sudah memilih kami karena alasan ini!</h1>
        <p class="mb-4">
          Pilihlah bisnis kami untuk pengalaman kurban yang tak terlupakan dan
          manfaat yang melampaui harapan, karena kami mengutamakan kualitas,
          kepercayaan, dan dampak sosial yang positif
        </p>
        <p><i class="fa fa-check text-primary me-3"></i>Kualitas Terbaik</p>
        <p><i class="fa fa-check text-primary me-3"></i>Layanan Profesional</p>
        <p><i class="fa fa-check text-primary me-3"></i>Dampak Sosial</p>
        <!-- <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href=""
          >Selengkapnya</a
        > -->
      </div>
      <div class="col-lg-6">
        <div class="rounded overflow-hidden">
          <div class="row g-0">
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
              <div class="text-center bg-primary py-5 px-4">
                <img class="img-fluid mb-4" src="img/experience.png" alt="" />
                <h1 class="display-6 text-white" data-toggle="counter-up">0</h1>
                <span class="fs-5 fw-semi-bold text-secondary"
                  >Tahun Pengalaman</span
                >
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
              <div class="text-center bg-secondary py-5 px-4">
                <img class="img-fluid mb-4" src="img/award.png" alt="" />
                <h1 class="display-6" data-toggle="counter-up">0</h1>
                <span class="fs-5 fw-semi-bold text-primary">Penghargaan</span>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
              <div class="text-center bg-secondary py-5 px-4">
                <img class="img-fluid mb-4" src="img/animal.png" alt="" />
                <h1 class="display-6" data-toggle="counter-up">0</h1>
                <span class="fs-5 fw-semi-bold text-primary"
                  >Total Hewan Kurban</span
                >
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
              <div class="text-center bg-primary py-5 px-4">
                <img class="img-fluid mb-4" src="img/client.png" alt="" />
                <h1 class="display-6 text-white" data-toggle="counter-up">0</h1>
                <span class="fs-5 fw-semi-bold text-secondary"
                  >Shohibul Kurban</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->

<!-- Banner Start -->
<div
  class="container-fluid banner my-5 py-5"
  data-parallax="scroll"
  data-image-src="img/banner.jpg"
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="row g-4 align-items-center">
          <div class="col-sm-4">
            <img class="img-fluid rounded" src="img/banner-1.jpg" alt="" />
          </div>
          <div class="col-sm-8">
            <h2 class="text-white mb-3">Kami Menjual Hewan Kurban yang Terbaik</h2>
            <p class="text-white mb-4">
              Kami Menjual Hewan Kurban yang Terbaik untuk Memenuhi Kebutuhan Ibadah Anda dengan Kualitas, Kebersihan, dan Kepuasan yang Diutamakan
            </p>
            <!-- <a class="btn btn-secondary rounded-pill py-2 px-4" href=""
              >Read More</a
            > -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="row g-4 align-items-center">
          <div class="col-sm-4">
            <img class="img-fluid rounded" src="img/banner-2.jpg" alt="" />
          </div>
          <div class="col-sm-8">
            <h2 class="text-white mb-3">Kamu Bisa Nabung Sekarang</h2>
            <p class="text-white mb-4">
              Kamu Bisa Mulai Menabung Sekarang untuk Meraih Kebaikan di Hari Raya Kurban
            </p>
            <!-- <a class="btn btn-secondary rounded-pill py-2 px-4" href=""
              >Read More</a
            > -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto pb-4 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <p class="section-title bg-white text-center text-primary px-3">
        Layanan Kami
      </p>
      <h1 class="mb-5">Layanan yang Kami Tawarkan untuk Anda</h1>
    </div>
    <div class="row gy-5 gx-4">
      <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex h-100">
          <div class="service-img">
            <img class="img-fluid" src="img/hewan/sapi-nomor.jpg" alt="" />
          </div>
          <div class="service-text p-5 pt-0">
            <div class="service-icon">
              <img
                class="img-fluid rounded-circle"
                src="img/hewan/sapi-nomor.jpg"
                alt=""
                style="object-fit: cover; height: 100%; width: 100%"
              />
            </div>
            <h5 class="mb-3">Pemilihan Hewan Kurban</h5>
            <p class="mb-4">
              Kami menyediakan hewan kurban berkualitas tinggi untuk memenuhi
              kebutuhan ibadah Anda.
            </p>
            <a class="btn btn-square rounded-circle" href=""
              ><i class="bi bi-chevron-double-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex h-100">
          <div class="service-img">
            <img class="img-fluid" src="img/hewan/sapi-awan.jpg" alt="" />
          </div>
          <div class="service-text p-5 pt-0">
            <div class="service-icon">
              <img
                class="img-fluid rounded-circle"
                src="img/hewan/sapi-awan.jpg"
                alt=""
                style="object-fit: cover; height: 100%; width: 100%"
              />
            </div>
            <h5 class="mb-3">Tabungan Kurban</h5>
            <p class="mb-4">
              Kami menyediakan layanan tabungan kurban yang memungkinkan Anda
              untuk menabung secara berkala sesuai kemampuan dan kebutuhan Anda.
            </p>
            <a class="btn btn-square rounded-circle" href=""
              ><i class="bi bi-chevron-double-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex h-100">
          <div class="service-img">
            <img class="img-fluid" src="img/hewan/domba-makan.jpg" alt="" />
          </div>
          <div class="service-text p-5 pt-0">
            <div class="service-icon">
              <img
                class="img-fluid rounded-circle"
                src="img/hewan/domba-makan.jpg"
                alt=""
                style="object-fit: cover; height: 100%; width: 100%"
              />
            </div>
            <h5 class="mb-3">Pengiriman Hewan Kurban</h5>
            <p class="mb-4">
              Kami menjamin pengiriman tepat waktu yang dilakukan dengan
              memperhatikan kondisi hewan kurban.
            </p>
            <a class="btn btn-square rounded-circle" href=""
              ><i class="bi bi-chevron-double-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Gallery Start -->
<div class="container-xxl py-5 px-0">
  <div class="row g-0">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
      <div class="row g-0">
        <div class="col-12">
          <a
            class="d-block"
            href="img/hewan/sapi-makan.jpg"
            data-lightbox="gallery"
          >
            <img class="img-fluid" src="img/hewan/sapi-makan.jpg" alt="" />
          </a>
        </div>
        <div class="col-12">
          <a
            class="d-block"
            href="img/hewan/kambing.jpg"
            data-lightbox="gallery"
          >
            <img class="img-fluid" src="img/hewan/kambing.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
      <div class="row g-0">
        <div class="col-12">
          <a
            class="d-block"
            href="img/hewan/domba-garut.jpg"
            data-lightbox="gallery"
          >
            <img class="img-fluid" src="img/hewan/domba-garut.jpg" alt="" />
          </a>
        </div>
        <div class="col-12">
          <a
            class="d-block"
            href="img/hewan/sapi-nomor.jpg"
            data-lightbox="gallery"
          >
            <img class="img-fluid" src="img/hewan/sapi-nomor.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
      <div class="row g-0">
        <div class="col-12">
          <a class="d-block" href="img/hewan/sapi.jpg" data-lightbox="gallery">
            <img class="img-fluid" src="img/hewan/sapi.jpg" alt="" />
          </a>
        </div>
        <div class="col-12">
          <a
            class="d-block"
            href="img/hewan/domba-makan.jpg"
            data-lightbox="gallery"
          >
            <img class="img-fluid" src="img/hewan/domba-makan.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
      <div class="row g-0">
        <div class="col-12">
          <a
            class="d-block"
            href="img/hewan/kambing-1.jpg"
            data-lightbox="gallery"
          >
            <img class="img-fluid" src="img/hewan/kambing-1.jpg" alt="" />
          </a>
        </div>
        <div class="col-12">
          <a
            class="d-block"
            href="img/hewan/domba-tiga.jpg"
            data-lightbox="gallery"
          >
            <img class="img-fluid" src="img/hewan/domba-tiga.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery End -->

<!-- Product Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <p class="section-title bg-white text-center text-primary px-3">
        Hewan Kurban
      </p>
      <h1 class="mb-5">Kualitas Terbaik dan Pilihan Berkualitas</h1>
    </div>
    <div class="row gx-4">
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="product-item">
          <div class="position-relative">
            <img class="img-fluid" src="img/hewan/domba-garut.jpg" alt="" />
            <div class="product-overlay">
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""
                ><i class="bi bi-link"></i
              ></a>
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""
                ><i class="bi bi-cart"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <a class="d-block h5" href="">Embe Garut</a>
            <span class="text-primary me-1">Rp19.000.000</span>
            <span class="text-decoration-line-through">Rp30.000.000</span>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="product-item">
          <div class="position-relative">
            <img class="img-fluid" src="img/hewan/kambing.jpg" alt="" />
            <div class="product-overlay">
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""
                ><i class="bi bi-link"></i
              ></a>
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""
                ><i class="bi bi-cart"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <a class="d-block h5" href="">Kambing</a>
            <span class="text-primary me-1">Rp2.900.000</span>
            <span class="text-decoration-line-through">Rp3.000.000</span>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="product-item">
          <div class="position-relative">
            <img class="img-fluid" src="img/hewan/sapi.jpg" alt="" />
            <div class="product-overlay">
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""
                ><i class="bi bi-link"></i
              ></a>
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""
                ><i class="bi bi-cart"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <a class="d-block h5" href="">Sapi</a>
            <span class="text-primary me-1">Rp14.900.000</span>
            <span class="text-decoration-line-through">Rp16.000.000</span>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.7s"
      >
        <div class="product-item">
          <div class="position-relative">
            <img class="img-fluid" src="img/hewan/domba-makan.jpg" alt="" />
            <div class="product-overlay">
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""
                ><i class="bi bi-link"></i
              ></a>
              <a class="btn btn-square btn-secondary rounded-circle m-1" href=""
                ><i class="bi bi-cart"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <a class="d-block h5" href="">Domba</a>
            <span class="text-primary me-1">Rp3.900.000</span>
            <span class="text-decoration-line-through">Rp6.000.000</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <p class="section-title bg-white text-center text-primary px-3">
        Testimoni
      </p>
      <h1 class="mb-5">Kata Mereka yang Sudah Berkurban</h1>
    </div>
    <div class="row g-5 align-items-center">
      <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="testimonial-img">
          <img
            class="img-fluid animated pulse infinite"
            src="img/testimoni/testi-ani.jpg"
            alt=""
            style="object-fit: cover; height: 100; width: 100"
          />
          <img
            class="img-fluid animated pulse infinite"
            src="img/testimoni/testi-ahmad.jpg"
            alt=""
            style="object-fit: cover; height: 100; width: 100"
          />
          <img
            class="img-fluid animated pulse infinite"
            src="img/testimoni/testi-budi.jpg"
            alt=""
            style="object-fit: cover; height: 100; width: 100"
          />
          <img
            class="img-fluid animated pulse infinite"
            src="img/testimoni/testi-siti.jpg"
            alt=""
            style="object-fit: cover; height: 100; width: 100"
          />
        </div>
      </div>
      <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
        <div class="owl-carousel testimonial-carousel">
          <div class="testimonial-item">
            <img
              class="img-fluid mb-3"
              src="img/testimoni/testi-ani.jpg"
              alt=""
              style="object-fit: cover; height: 100; width: 100"
            />
            <p class="fs-5">
              Saya sangat puas dengan layanan kurban yang diberikan oleh
              Qurbanz. Mereka memberikan pilihan hewan kurban yang sehat dan
              berkualitas. Kemudahan dalam pembayaran dan pengiriman yang tepat
              waktu. Saya merasa beruntung bisa berkurban di tempat ini dan saya
              sangat merekomendasikan kepada semua orang.
            </p>
            <h5>Ani</h5>
            <span class="text-primary">Ibu Rumah Tangga</span>
          </div>
          <div class="testimonial-item">
            <img
              class="img-fluid mb-3"
              src="img/testimoni/testi-budi.jpg"
              alt=""
              style="object-fit: cover; height: 100; width: 100"
            />
            <p class="fs-5">
              Pelayanan yang diberikan oleh tim tempat ini sangat memuaskan. Mereka sangat ramah, responsif, dan membantu dalam memberikan informasi dan konsultasi seputar kurban. Selain itu, daging kurban yang saya terima sangat segar dan berkualitas tinggi.
            </p>
            <h5>Budi</h5>
            <span class="text-primary">Pengusaha</span>
          </div>
          <div class="testimonial-item">
            <img
              class="img-fluid mb-3"
              src="img/testimoni/testi-siti.jpg"
              alt=""
              style="object-fit: cover; height: 100; width: 100"
            />
            <p class="fs-5">
              Saya sangat senang dengan pengalaman berkurban di tempat ini. Mereka memberikan pilihan hewan kurban yang sesuai dengan kebutuhan dan anggaran saya. Proses penyembelihan dilakukan dengan sangat hati-hati dan sesuai dengan tuntunan agama.
            </p>
            <h5>Siti</h5>
            <span class="text-primary">Pegawai Kantor</span>
          </div>
          <div class="testimonial-item">
            <img
              class="img-fluid mb-3"
              src="img/testimoni/testi-ahmad.jpg"
              alt=""
              style="object-fit: cover; height: 100; width: 100"
            />
            <p class="fs-5">
              Saya ingin berbagi pengalaman positif saya berkurban di tempat ini. Hewan kurban yang saya pilih sangat sehat dan terawat dengan baik. Selama proses kurban, tim sangat menjaga kebersihan dan keamanan. Saya juga merasa senang dengan kepedulian sosial mereka, karena sebagian dari hasil penjualan kurban disumbangkan kepada mereka yang membutuhkan.
            </p>
            <h5>Ahmad</h5>
            <span class="text-primary">Pengurus DKM</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
